<!DOCTYPE html>
<html>
    <html lang="pt">
    <head>

        <meta charset="utf-8">
        <title>microbio.rs</title>
    </head>
    <body>
    <div>
      <h1>{{ page.title }}</h1>
      {{ page.content }}
    </div>
  </body>
</html>
